$c-red:red;
$fs-large:24px;
$fs-middle:16px;
$fs-small:12px;
body{
    background-color: $c-red;
    h2{
        font-size: $fs-large;

    }
    p{
        font-size: 16px;
    }
    span{
        font-size: $fs-small;
    }
    @for $i from 1 through 3 {
        .item-#{$i} { width: 3em * $i; }
    }
}