{
  "plugins": [
    // "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": false
      }
    ]
  ],
  "presets": [
    "stage-0",
    "env",
    // "latest"
  ]
}